@function rem($px) {
  @return $px / 100 + rem;
}
$main-color: #7f2974;
$c99: #999999;
$c66: #666666;
$cff: #ffffff;
.fr {
  float: right;
}
.fl {
  float: left;
}
html{
  font-size: 80px;
}
body {
  padding-top: rem(150);
}
img {
  max-width: 100%;
}
.top-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $cff;
  .top-tips-nav {
    max-width: rem(1366);
    padding: 0 rem(160);
    line-height: rem(38);
    width: rem(1366);
    box-sizing: border-box;
    margin: 0 auto;
    .hello-text {
      color: $main-color;
      font-size: rem(14);
      font-weight: 500;
      letter-spacing: rem(1.2);
    }
    .tip-nav {
      background-color: #fff;
      padding: 0;
      .layui-nav-bar {
        background-color: transparent;
      }
      .layui-nav-item {
        line-height: inherit;
        a {
          color: $c99;
          font-size: inherit;
          font-size: inherit;
          padding: 0;
          margin-right: rem(33);
        }
        &.end-item a {
          margin-right: 0;
        }
      }
    }
  }
  .top-line {
    height: rem(2);
    background-color: $main-color;
    margin: 0;
    padding: 0;
  }
  .top-icon-box {
    width: rem(1366);
    font-size: 0;
    max-width: rem(1366);
    margin: 0 auto;
    padding: rem(10) 0 0 rem(169);
    box-sizing: border-box;
    .box-style {
      display: inline-block;
      color: $c66;
      font-size: 0;
      ul {
        display: inline-block;
        vertical-align: middle;
        li {
          font-family: PingFangSC-Regular;
          font-size: rem(14);
        }
      }
    }
    .tel-info-box {
      img {
        display: inline-block;
        width: rem(45);
        height: rem(32);
        margin-right: rem(10);
        vertical-align: middle;
      }
    }
  }
  .logo {
    width: rem(50);
    height: rem(50);
    display: inline-block;
    margin-left: rem(238);
    margin-right: rem(304);
  }
  .local-info-box {
    img {
      width: rem(34);
      height: rem(40);
      margin-right: rem(10);
    }
  }
  .nav-box {
    max-width: rem(1366);
    margin: 0 auto;
    color: #303030;
    background-color: $cff;
    padding: 0 rem(170);
    .layui-nav-bar {
      background-color: transparent;
    }
    .layui-nav-item {
      line-height: rem(50);
      &.active a {
        color: $main-color;
      }
      a {
        color: initial;
        font-size: rem(18);
        padding: 0;
        margin-right: rem(93);
      }
      &.end-item a {
        margin-right: 0;
      }
    }
  }
}
.server-banner-box{
  height: rem(200);
  position: relative;
  color: $cff;
  text-align: center;
  background: url('../images/server-banner.png') center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span{
    font-size: rem(20)
  }
  p{
    font-size: rem(36)
  }
}
.server-container{
  background-color: #f6f7f8;
  .server-padding-box{
    max-width: rem(1366);
    margin: 0 auto;
    padding: rem(80) rem(160);
    font-size: 0;
    box-sizing: border-box;
  }
  .server-nav{
      display: inline-block;
      margin-right: rem(60);
      .nav-line{
          width: rem(100);
          height:rem(10);
          background-color: $main-color;
          margin-bottom: rem(30);
      }
      ul li{
        font-size: rem(24);
        color: #808080;
        margin-bottom: rem(30);
        cursor: pointer;
        &:last-child{
          margin-bottom: 0;
        }
        &.nav-title{
          color: #333;
          cursor: default;
        }
        &.active{
          color:#BB90B6;
        }
      }
  }
  .server-content{
    font-size: 0;
    background: $cff;
    display: inline-block;
    width: rem(840);
    vertical-align: top;
    padding: 0 0  0  rem(22);
    box-sizing: border-box;
    .server-text-box{
      height: rem(656);
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top:rem(22);
      vertical-align: top;
      margin-right: rem(23);
      width: rem(353);
      display: inline-block;
      padding-bottom: rem(22);
      box-sizing: border-box;
    }
    p.server-detail{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 20;
      overflow: hidden;
      height: rem(550);
      text-overflow: ellipsis;
      margin-top: rem(15);
      color:#666666;
      line-height: rem(28);
      font-size: rem(15);
    }
    p.server-title{
      font-size: rem(26);
      color:#0C1210;
      span{
        display: block;
        margin-top: rem(15);
        width: rem(120);
        height: rem(4);
        background-color:#808080;
      }
    }
    .server-img{
      vertical-align: top;
      width: rem(440);
      display: inline-block;
      height: rem(656);
      background-size: cover;
      position: relative;
      background: url("../images/server-detail-01.jpg") 0 0 no-repeat;
      &.baomu{
        background: url('../images/server-detail-01.jpg') 0 0 no-repeat;
        background-size: cover;
      }
      &.hugong{
        background: url('https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png') 0 0 no-repeat;
        background-size: cover;
      }
      &.baojie{
        background: url('https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png') 0 0 no-repeat;
        background-size: cover;
      }
      &.yuesao{
        background: url('https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png') 0 0 no-repeat;
        background-size: cover;
      }
      &.cuirushi{
        background: url('https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png') 0 0 no-repeat;
        background-size: cover;
      }
      &.yuyinshi{
        background: url('../images/server-detail-01.jpg') 0 0 no-repeat;
        background-size: cover;
      }
      &.qwzl{
        background: url('../images/server-detail-01.jpg') 0 0 no-repeat;
        background-size: cover;
      }
      &.srdz{
        background: url('../images/server-detail-01.jpg') 0 0 no-repeat;
        background-size: cover;
      }
      &.swjz{
        background: url('../images/server-detail-01.jpg') 0 0 no-repeat;
        background-size: cover;
      }
      .icon-server{
        width: rem(78);
        height: rem(90);
        position: absolute;
        left: rem(-20);
        top:50%;
        transform: translateY(-50%);
      }
    }
  }
}
// footer
footer {
  padding-top: rem(60);
  text-align: center;
  padding-bottom: rem(60);
  .bottom-title {
    margin: 0 auto;
    display: block;
    width: rem(357);
    height: rem(198);
    object-fit: contain;
  }
  p {
    margin: rem(50) auto rem(10);
  }
  p,
  .bottom-nav span a {
    color: #aaa;
  }
  .layui-breadcrumb a:hover {
    color: $main-color !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1385px) {
  .top-box .nav-box .layui-nav-item a {
    margin-right: 0.88rem;
  }
  .server-container .server-nav{
    margin-right: rem(30);
  }
}
// 2019-05-07
.server-container{
  .server-nav-new{
    text-align: center;
    padding: rem(110) 0 rem(100);
    background-color: $cff;
    .server-nav-item-box{
      font-size: 0;
      &.second-box{
        margin-top: rem(-32)
      }
      .block-box {
        display: inline-block;
        width: rem(55);
      }
      .nav-item{
        cursor: pointer;
        border-radius: rem(4);
        display: inline-block;
        position: relative;
        width: rem(138.5);
        height: rem(138.5);
        margin-right: rem(11);
        transform: rotate(45deg);
        overflow: hidden;
        &.active{
          .bg-box{
            background-color: rgba(164,55,150,0.3);
          }
        }
        .bg-box{
          position: absolute;
          left:0;
          top:0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background-color: rgba(164,55,150,0.9);
        }
        &:last-child{
          margin-right: 0;
        }
        .item-img{
          //object-fit: cover;
          transform: rotate(-45deg) scale(2.7);
        }
        .item-info-box{
          z-index: 2;
          transform: rotate(-45deg);
          position: absolute;
          left:0;
          top:0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img.item-icon{
            margin-bottom: rem(2);
            &.icon-1{
              width: rem(26);
              height: rem(39);
            }
            &.icon-2{
              width: rem(39);
              height: rem(39);
            }
            &.icon-3{
              width: rem(36);
              height: rem(37);
            }
            &.icon-4{
              width: rem(39);
              height: rem(36);
            }
            &.icon-5{
              width: rem(37);
              height: rem(38);
            }
            &.icon-6{
              width: rem(40);
              height: rem(34);
            }
            &.icon-7{
              width: rem(32);
              height: rem(39);
            }
            &.icon-8{
              width: rem(30);
              height: rem(36);
            }
            &.icon-9{
              width: rem(26);
              height: rem(39);
            }
          }
        }
        p.item-name{
          font-size: rem(22);
          color: $cff;
        }
      }
    }
  }
  .server-detail-box{
    background-color: #F6EBF4;
    padding-top: rem(48);
    box-sizing: border-box;
    &.yuesao{
      padding-bottom: rem(50);
    }
    .server-detail-title{
      font-size: rem(30);
      color: #333;
      text-align: center;
    }
    .yuesao-detail-container{
      box-sizing: border-box;
      background-color: $cff;
      padding: rem(30) rem(0) rem(52) 0;
      max-width: rem(1006);
      width: rem(1006);
      margin: 0 auto;
      .server-detail-title{
        margin-bottom: rem(35);
      }
      .layui-table{
        color: #333;
        margin: 0 auto;
        text-align: center;
        .pl-td{
          //padding-left: rem(20);
          box-sizing: border-box;
        }
        tbody tr:hover{
          background-color: $cff;
        }
        th{
          font-size: rem(20);
          padding: 0;
          text-align: center;
          // &.server-tablie-title{
          //   //padding-right: rem(33);
          // }
        }
        td{
          font-size: rem(20);
          padding: 0;
          &.money-td{
            color:#A53297;
          }
          &.server-detail-container{
            text-align: left;
            font-size: rem(14);
            // padding-right: rem(33);
            padding:rem(28) rem(0) rem(28) 0;
            box-sizing: border-box;
          }
        }
      }
      .layui-table tr{
        &.bg-tr{
          background-color: rgb(252,247,251);
          &:hover{
            background-color: rgb(252,247,251);
          }
        }
      }
      .layui-table thead tr{
        background-color: #fff;
        &.bg-tr{
          background-color: rgb(252,247,251);
          th{
            padding: rem(20) 0;
          }
        }
      }
    }
    .server-slogan{
      margin-top: rem(40);
      text-align: center;
      color: #A43796;
      font-size: rem(20);
      line-height: rem(48);
    }
  }
}
.yuesao-server-bz{
  background-color: $cff;
  padding-top: rem(49);
  margin-bottom: rem(67);
  .ys-bz-title{
    text-align: center;
    color: #333;
    font-size: rem(30);
    margin-bottom: rem(73);
  }
  .bz-item-box{
    font-size: 0;
    text-align: center;
    margin-bottom: rem(20);
    .bz-item{
      display: inline-block;
      font-size: 0;
      &.set-top-item{
        position: relative;
        top:rem(55);
      }
      &:nth-child(odd){
        margin-right: rem(17);
      }
      &.set-top-item{
        .bz-item-text-box{
          margin-left: rem(21);
          margin-right: 0;
        }
      }
      .bz-item-text-box{
        display: inline-block;
        text-align: left;
        margin-right: rem(26);
        max-width: rem(260);
        p.bz-tag-title{
          font-size: rem(20);
          color: #111;
          margin-bottom: rem(10);
        }
        p.ys-bz-info{
          color: #555;
          font-size: rem(16);
        }
      }
      .bz-item-img{
        display: inline-block;
      }
    }
  }
}
// 护工页
.server-detail-box{
  &.hg{
    .hg-detail-container{
      max-width: rem(1006);
      margin: 0 auto;
      .hg-info-text{
        margin: 0 auto;
        padding-top: rem(48);
        font-size: rem(22);
        color:#555555;
        font-family:PingFangSC-Regular;
      }
      .bj-money-p{
        margin-top: rem(30);
        font-size: rem(30);
        color:#A43796;
      }
      .hg-img-box{
        font-size: 0;
        margin-top: rem(40);
        img{
          display: inline-block;
          width: rem(490);
          height:rem(276);
          &.hg-img-1{
            margin-right: rem(26);
            object-fit: cover;
          }
        }
      }
      .min-info{
        margin-top: rem(20);
        padding-bottom: rem(40);
        font-size:rem(22);
        color:rgba(85,85,85,1);
        line-height:rem(48);
        .hg-money-p{
          color:#A43796;
          font-size: rem(30)
        }
        p.info-title{
          color:#A43796;
        }
      }
    }
  }
}
.hg-detail-second{
  text-align: center;
  margin: 0 auto;
  background-color: #FBFCFC;
  padding-top: rem(50);
  .second-img-box{
    font-size: 0;
    img{
      display: inline-block;
      width: rem(300);
      height:rem(300);
      margin-right: rem(53);
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .server-bz{
    font-size: rem(20);
    color:#A43796;
    line-height: rem(48);
    margin: rem(38) auto 0;
    padding-bottom: rem(54);
    font-weight: 500;
  }
}
// 定制
// 护工页
.server-detail-box{
  &.dz{
    .dz-detail-container{
      max-width: rem(1006);
      margin: 0 auto;
      .dz-info-text{
        margin: 0 auto;
        padding-top: rem(48);
        font-size: rem(22);
        color:#555555;
        font-family:PingFangSC-Regular;
      }
      .zl-money{
        color:#A43796;
        font-size: rem(30);
        margin-top: rem(20);
      }
      .dz-img-box{
        font-size: 0;
        margin-top: rem(40);
        img{
          display: inline-block;
          width: rem(490);
          height:rem(276);
          &.dz-img-1{
            margin-right: rem(26);
          }
        }
      }
      .min-info{
        text-align: center;
        margin-top: rem(20);
        padding-bottom: rem(40);
        font-size:rem(19.2);
        color:#A43796;
        line-height:rem(48);
        &.zl{
          margin-top: rem(40);
        }
      }
    }
  }
}
// yys
.yys{
  background-color: $cff;
  .yys-detail-container{
    padding-bottom: rem(60);
    .yys-title{
      width: rem(366);
      height: rem(42);
      background: url('../images/yy-title.png') 0 0 no-repeat;
      background-size: contain;
      margin: 0 auto;
    }
    .item-container{
      width: rem(912);
      margin: 0 auto;
      padding-left: rem(212);
      box-sizing: border-box;
      padding-top: rem(99);

      &.pt{
        padding-top: rem(70);
      }
      &.item-container-pr{
        padding-top: rem(70);
        padding-right: rem(212);
        padding-left: 0;
        .yys-item-box2{
          color:#9D5F51;
          border:rem(2) solid #E68D7A;
          padding: rem(38) rem(132) rem(64) rem(52);
          .span.yys-item-title{
            color:#9D5F51;
          }
          .yys-itme-img-2{
            position: absolute;
            right: rem(-212);
            top:rem(-30);
            width: rem(300);
            height:rem(190);
          }
        }
      }
    }
    .yys-item-box{
      width: rem(700);
      height: rem(190);
      border:rem(2) solid rgba(250,196,199,1);
      position: relative;
      line-height: rem(56);
      font-size: rem(24);
      color:#8C6365;
      padding: rem(38) rem(80) rem(64) rem(143);
      box-sizing: border-box;
      &.yys-item-box3{
        height: auto;
        border:rem(2) solid #F2CACC;
        color:#947677;
        padding: rem(27) rem(31) rem(24) rem(113);
        box-sizing: border-box;
        span.yys-item-title{
          color:#947677;
        }
      }
      &.yys-item-box5{
        height: auto;
        border:rem(2) solid #E6DAC6;
        color:#867D6F;
        padding: rem(47) rem(80) rem(40) rem(113);
        box-sizing: border-box;
        span.yys-item-title{
          color:#867D6F;
        }
      }
      &.yys-item-box4{
        height: auto;
        border:rem(2) solid #B1DDE9;
        color:#769AA4;
        padding: rem(37) rem(103) rem(28) rem(52);
        span.yys-item-title{
          color:#769AA4;
        }
        .yys-itme-img-4{
          position: absolute;
          right: rem(-212);
          top:rem(-30);
          width: rem(300);
          height:rem(190);
        }
      }
      span.yys-item-title{
        font-size: rem(28);
        color:#8C6365;
      }
      .yys-itme-img-1{
        position: absolute;
        left: rem(-212);
        top:rem(-30);
        width: rem(300);
        height: rem(190);
      }
    }
  }
}
.yys-server-img-detail{
  text-align: center;
  background-color: #F6EBF4;
  padding-bottom: rem(50);
  .title{
    font-size: rem(30);
    color: #333;
    padding: rem(49) 0 rem(46) 0;
  }
  img{
    max-width: rem(988);
    margin: 0 auto;
  }
}
.yys-answer-box{
  text-align: center;
  background-color: $cff;
  padding-bottom: rem(38);
  .title{
    font-size: rem(30);
    color: #333;
    padding: rem(49) 0 rem(40) 0;
  }
  img{
    max-width: rem(946);
    margin: 0 auto;
  }
}
// crs
.server-crs-box{
  background-color: #F6EBF4;
  p.title{
    text-align: center;
    font-size: rem(30);
    color:#333;
    padding: rem(47) 0 rem(48) 0;
  }
  .crs-info-box{
    max-width: rem(1006);
    font-size: rem(22);
    color:#555555;
    margin: 0 auto;
    .money-info{
      text-align: left;
      font-size: rem(30);
      color:#A43796;
      padding-top: rem(15);
      padding-bottom: rem(20);
    }
    .img-box{
      font-size: 0;
      img{
        display: inline-block;
        width: rem(490);
        height: rem(276);
        object-fit: cover;
        &.crs-img-1{
          margin-right: rem(26);
        }
      }
    }
    .crs-sologan{
      text-align: center;
      font-size: rem(20);
      color:#A43796;
      padding: rem(50) 0 rem(60) 0;
    }
  }
}
.crs-detail-box{
  background-color: $cff;
  text-align: center;
  padding-top: rem(49);
  .title{
    font-size: rem(30);
    color:#333333;
    line-height: rem(50);
    padding-bottom: rem(38);
    span{
      font-size: rem(26);
      color:#A43796;
    }
  }
  .crs-item-box{
    margin: 0 auto;
    max-width: rem(1006);
    text-align: center;
    box-shadow:0px rem(4) rem(20) 0px rgba(231,231,231,1);
    border-radius:rem(4); 
    margin-bottom: rem(30);
    p.crs-item-title{
      line-height: rem(60);
      font-size:rem(28);
      color:$cff;
      background-color: #D569C8;
      border-radius: rem(4) rem(4) 0 0 ;
      &.five{
        background-color: #8A2A7E;
      }
      &.four{
        background-color: #A43796;
      }
      &.three{
        background-color: #AC499F;
      }
      &.two{
        background-color: #C562B8;
      }
    }
    .info-box{
      font-size: 0;
      padding: rem(30) rem(40) rem(34) rem(21);
    }
    .img-box,.crs-info{
      display: inline-block;
    }
    .img-box{
      width: rem(250);
      margin-right: rem(28);
      img{
        display: block;
        &.s-img{
          width: 100%;
          height: rem(174);
          object-fit: cover;
          margin-bottom: rem(20);
          &.t-s-img{
            height: rem(180);
          }
          &.m-s-img{
            height: rem(230);
          }
          &.f-s-img{
            height: rem(156);
          }
        }
        &.h-img{
          width: 100%;
          height: rem(310);
          object-fit: cover;
          &.t-h-img{
            height: rem(227);
          }
          &.f-h-img{
            height: rem(170);
          }
        }
      }
    }
    .crs-info{
      font-size: rem(22);
      line-height: rem(38);
      color:#333333;
      width: rem(662);
      text-align: left;
      vertical-align: top;
      .min-title{
        font-size: rem(26);
        color:#A43796;
        line-height: rem(34);
        padding-bottom: rem(10);
      }
    }
  }
}