.fr {
  float: right;
}

.fl {
  float: left;
}

html {
  font-size: 80px;
}

body {
  padding-top: 1.5rem;
}

img {
  max-width: 100%;
}

.top-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.top-box .top-tips-nav {
  max-width: 13.66rem;
  padding: 0 1.6rem;
  line-height: 0.38rem;
  width: 13.66rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.top-box .top-tips-nav .hello-text {
  color: #7f2974;
  font-size: 0.14rem;
  font-weight: 500;
  letter-spacing: 0.012rem;
}

.top-box .top-tips-nav .tip-nav {
  background-color: #fff;
  padding: 0;
}

.top-box .top-tips-nav .tip-nav .layui-nav-bar {
  background-color: transparent;
}

.top-box .top-tips-nav .tip-nav .layui-nav-item {
  line-height: inherit;
}

.top-box .top-tips-nav .tip-nav .layui-nav-item a {
  color: #999999;
  font-size: inherit;
  font-size: inherit;
  padding: 0;
  margin-right: 0.33rem;
}

.top-box .top-tips-nav .tip-nav .layui-nav-item.end-item a {
  margin-right: 0;
}

.top-box .top-line {
  height: 0.02rem;
  background-color: #7f2974;
  margin: 0;
  padding: 0;
}

.top-box .top-icon-box {
  width: 13.66rem;
  font-size: 0;
  max-width: 13.66rem;
  margin: 0 auto;
  padding: 0.1rem 0 0 1.69rem;
  box-sizing: border-box;
}

.top-box .top-icon-box .box-style {
  display: inline-block;
  color: #666666;
  font-size: 0;
}

.top-box .top-icon-box .box-style ul {
  display: inline-block;
  vertical-align: middle;
}

.top-box .top-icon-box .box-style ul li {
  font-family: PingFangSC-Regular;
  font-size: 0.14rem;
}

.top-box .top-icon-box .tel-info-box img {
  display: inline-block;
  width: 0.45rem;
  height: 0.32rem;
  margin-right: 0.1rem;
  vertical-align: middle;
}

.top-box .logo {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  margin-left: 2.38rem;
  margin-right: 3.04rem;
}

.top-box .local-info-box img {
  width: 0.34rem;
  height: 0.4rem;
  margin-right: 0.1rem;
}

.top-box .nav-box {
  max-width: 13.66rem;
  margin: 0 auto;
  color: #303030;
  background-color: #ffffff;
  padding: 0 1.7rem;
}

.top-box .nav-box .layui-nav-bar {
  background-color: transparent;
}

.top-box .nav-box .layui-nav-item {
  line-height: 0.5rem;
}

.top-box .nav-box .layui-nav-item.active a {
  color: #7f2974;
}

.top-box .nav-box .layui-nav-item a {
  color: initial;
  font-size: 0.18rem;
  padding: 0;
  margin-right: 0.93rem;
}

.top-box .nav-box .layui-nav-item.end-item a {
  margin-right: 0;
}

.server-banner-box {
  height: 2rem;
  position: relative;
  color: #ffffff;
  text-align: center;
  background: url("../images/server-banner.png") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.server-banner-box span {
  font-size: 0.2rem;
}

.server-banner-box p {
  font-size: 0.36rem;
}

.server-container {
  background-color: #f6f7f8;
}

.server-container .server-padding-box {
  max-width: 13.66rem;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  font-size: 0;
  box-sizing: border-box;
}

.server-container .server-nav {
  display: inline-block;
  margin-right: 0.6rem;
}

.server-container .server-nav .nav-line {
  width: 1rem;
  height: 0.1rem;
  background-color: #7f2974;
  margin-bottom: 0.3rem;
}

.server-container .server-nav ul li {
  font-size: 0.24rem;
  color: #808080;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.server-container .server-nav ul li:last-child {
  margin-bottom: 0;
}

.server-container .server-nav ul li.nav-title {
  color: #333;
  cursor: default;
}

.server-container .server-nav ul li.active {
  color: #BB90B6;
}

.server-container .server-content {
  font-size: 0;
  background: #ffffff;
  display: inline-block;
  width: 8.4rem;
  vertical-align: top;
  padding: 0 0 0 0.22rem;
  box-sizing: border-box;
}

.server-container .server-content .server-text-box {
  height: 6.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.22rem;
  vertical-align: top;
  margin-right: 0.23rem;
  width: 3.53rem;
  display: inline-block;
  padding-bottom: 0.22rem;
  box-sizing: border-box;
}

.server-container .server-content p.server-detail {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
  overflow: hidden;
  height: 5.5rem;
  text-overflow: ellipsis;
  margin-top: 0.15rem;
  color: #666666;
  line-height: 0.28rem;
  font-size: 0.15rem;
}

.server-container .server-content p.server-title {
  font-size: 0.26rem;
  color: #0C1210;
}

.server-container .server-content p.server-title span {
  display: block;
  margin-top: 0.15rem;
  width: 1.2rem;
  height: 0.04rem;
  background-color: #808080;
}

.server-container .server-content .server-img {
  vertical-align: top;
  width: 4.4rem;
  display: inline-block;
  height: 6.56rem;
  background-size: cover;
  position: relative;
  background: url("../images/server-detail-01.jpg") 0 0 no-repeat;
}

.server-container .server-content .server-img.baomu {
  background: url("../images/server-detail-01.jpg") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.hugong {
  background: url("https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.baojie {
  background: url("https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.yuesao {
  background: url("https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.cuirushi {
  background: url("https://0.rc.xiniu.com/g2/M00/0F/DF/CgAGe1xIPGiAYIkPAANxAoQHA-4090.png") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.yuyinshi {
  background: url("../images/server-detail-01.jpg") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.qwzl {
  background: url("../images/server-detail-01.jpg") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.srdz {
  background: url("../images/server-detail-01.jpg") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img.swjz {
  background: url("../images/server-detail-01.jpg") 0 0 no-repeat;
  background-size: cover;
}

.server-container .server-content .server-img .icon-server {
  width: 0.78rem;
  height: 0.9rem;
  position: absolute;
  left: -0.2rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  padding-top: 0.6rem;
  text-align: center;
  padding-bottom: 0.6rem;
}

footer .bottom-title {
  margin: 0 auto;
  display: block;
  width: 3.57rem;
  height: 1.98rem;
  object-fit: contain;
}

footer p {
  margin: 0.5rem auto 0.1rem;
}

footer p,
footer .bottom-nav span a {
  color: #aaa;
}

footer .layui-breadcrumb a:hover {
  color: #7f2974 !important;
}

@media screen and (min-width: 1024px) and (max-width: 1385px) {
  .top-box .nav-box .layui-nav-item a {
    margin-right: 0.88rem;
  }
  .server-container .server-nav {
    margin-right: 0.3rem;
  }
}

.server-container .server-nav-new {
  text-align: center;
  padding: 1.1rem 0 1rem;
  background-color: #ffffff;
}

.server-container .server-nav-new .server-nav-item-box {
  font-size: 0;
}

.server-container .server-nav-new .server-nav-item-box.second-box {
  margin-top: -0.32rem;
}

.server-container .server-nav-new .server-nav-item-box .block-box {
  display: inline-block;
  width: 0.55rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item {
  cursor: pointer;
  border-radius: 0.04rem;
  display: inline-block;
  position: relative;
  width: 1.385rem;
  height: 1.385rem;
  margin-right: 0.11rem;
  transform: rotate(45deg);
  overflow: hidden;
}

.server-container .server-nav-new .server-nav-item-box .nav-item.active .bg-box {
  background-color: rgba(164, 55, 150, 0.3);
}

.server-container .server-nav-new .server-nav-item-box .nav-item .bg-box {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(164, 55, 150, 0.9);
}

.server-container .server-nav-new .server-nav-item-box .nav-item:last-child {
  margin-right: 0;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-img {
  transform: rotate(-45deg) scale(2.7);
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box {
  z-index: 2;
  transform: rotate(-45deg);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon {
  margin-bottom: 0.02rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-1 {
  width: 0.26rem;
  height: 0.39rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-2 {
  width: 0.39rem;
  height: 0.39rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-3 {
  width: 0.36rem;
  height: 0.37rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-4 {
  width: 0.39rem;
  height: 0.36rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-5 {
  width: 0.37rem;
  height: 0.38rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-6 {
  width: 0.4rem;
  height: 0.34rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-7 {
  width: 0.32rem;
  height: 0.39rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-8 {
  width: 0.3rem;
  height: 0.36rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item .item-info-box img.item-icon.icon-9 {
  width: 0.26rem;
  height: 0.39rem;
}

.server-container .server-nav-new .server-nav-item-box .nav-item p.item-name {
  font-size: 0.22rem;
  color: #ffffff;
}

.server-container .server-detail-box {
  background-color: #F6EBF4;
  padding-top: 0.48rem;
  box-sizing: border-box;
}

.server-container .server-detail-box.yuesao {
  padding-bottom: 0.5rem;
}

.server-container .server-detail-box .server-detail-title {
  font-size: 0.3rem;
  color: #333;
  text-align: center;
}

.server-container .server-detail-box .yuesao-detail-container {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0.3rem 0rem 0.52rem 0;
  max-width: 10.06rem;
  width: 10.06rem;
  margin: 0 auto;
}

.server-container .server-detail-box .yuesao-detail-container .server-detail-title {
  margin-bottom: 0.35rem;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table {
  color: #333;
  margin: 0 auto;
  text-align: center;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table .pl-td {
  box-sizing: border-box;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table tbody tr:hover {
  background-color: #ffffff;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table th {
  font-size: 0.2rem;
  padding: 0;
  text-align: center;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table td {
  font-size: 0.2rem;
  padding: 0;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table td.money-td {
  color: #A53297;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table td.server-detail-container {
  text-align: left;
  font-size: 0.14rem;
  padding: 0.28rem 0rem 0.28rem 0;
  box-sizing: border-box;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table tr.bg-tr {
  background-color: #fcf7fb;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table tr.bg-tr:hover {
  background-color: #fcf7fb;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table thead tr {
  background-color: #fff;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table thead tr.bg-tr {
  background-color: #fcf7fb;
}

.server-container .server-detail-box .yuesao-detail-container .layui-table thead tr.bg-tr th {
  padding: 0.2rem 0;
}

.server-container .server-detail-box .server-slogan {
  margin-top: 0.4rem;
  text-align: center;
  color: #A43796;
  font-size: 0.2rem;
  line-height: 0.48rem;
}

.yuesao-server-bz {
  background-color: #ffffff;
  padding-top: 0.49rem;
  margin-bottom: 0.67rem;
}

.yuesao-server-bz .ys-bz-title {
  text-align: center;
  color: #333;
  font-size: 0.3rem;
  margin-bottom: 0.73rem;
}

.yuesao-server-bz .bz-item-box {
  font-size: 0;
  text-align: center;
  margin-bottom: 0.2rem;
}

.yuesao-server-bz .bz-item-box .bz-item {
  display: inline-block;
  font-size: 0;
}

.yuesao-server-bz .bz-item-box .bz-item.set-top-item {
  position: relative;
  top: 0.55rem;
}

.yuesao-server-bz .bz-item-box .bz-item:nth-child(odd) {
  margin-right: 0.17rem;
}

.yuesao-server-bz .bz-item-box .bz-item.set-top-item .bz-item-text-box {
  margin-left: 0.21rem;
  margin-right: 0;
}

.yuesao-server-bz .bz-item-box .bz-item .bz-item-text-box {
  display: inline-block;
  text-align: left;
  margin-right: 0.26rem;
  max-width: 2.6rem;
}

.yuesao-server-bz .bz-item-box .bz-item .bz-item-text-box p.bz-tag-title {
  font-size: 0.2rem;
  color: #111;
  margin-bottom: 0.1rem;
}

.yuesao-server-bz .bz-item-box .bz-item .bz-item-text-box p.ys-bz-info {
  color: #555;
  font-size: 0.16rem;
}

.yuesao-server-bz .bz-item-box .bz-item .bz-item-img {
  display: inline-block;
}

.server-detail-box.hg .hg-detail-container {
  max-width: 10.06rem;
  margin: 0 auto;
}

.server-detail-box.hg .hg-detail-container .hg-info-text {
  margin: 0 auto;
  padding-top: 0.48rem;
  font-size: 0.22rem;
  color: #555555;
  font-family: PingFangSC-Regular;
}

.server-detail-box.hg .hg-detail-container .bj-money-p {
  margin-top: 0.3rem;
  font-size: 0.3rem;
  color: #A43796;
}

.server-detail-box.hg .hg-detail-container .hg-img-box {
  font-size: 0;
  margin-top: 0.4rem;
}

.server-detail-box.hg .hg-detail-container .hg-img-box img {
  display: inline-block;
  width: 4.9rem;
  height: 2.76rem;
}

.server-detail-box.hg .hg-detail-container .hg-img-box img.hg-img-1 {
  margin-right: 0.26rem;
  object-fit: cover;
}

.server-detail-box.hg .hg-detail-container .min-info {
  margin-top: 0.2rem;
  padding-bottom: 0.4rem;
  font-size: 0.22rem;
  color: #555555;
  line-height: 0.48rem;
}

.server-detail-box.hg .hg-detail-container .min-info .hg-money-p {
  color: #A43796;
  font-size: 0.3rem;
}

.server-detail-box.hg .hg-detail-container .min-info p.info-title {
  color: #A43796;
}

.hg-detail-second {
  text-align: center;
  margin: 0 auto;
  background-color: #FBFCFC;
  padding-top: 0.5rem;
}

.hg-detail-second .second-img-box {
  font-size: 0;
}

.hg-detail-second .second-img-box img {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-right: 0.53rem;
}

.hg-detail-second .second-img-box img:last-child {
  margin-right: 0;
}

.hg-detail-second .server-bz {
  font-size: 0.2rem;
  color: #A43796;
  line-height: 0.48rem;
  margin: 0.38rem auto 0;
  padding-bottom: 0.54rem;
  font-weight: 500;
}

.server-detail-box.dz .dz-detail-container {
  max-width: 10.06rem;
  margin: 0 auto;
}

.server-detail-box.dz .dz-detail-container .dz-info-text {
  margin: 0 auto;
  padding-top: 0.48rem;
  font-size: 0.22rem;
  color: #555555;
  font-family: PingFangSC-Regular;
}

.server-detail-box.dz .dz-detail-container .zl-money {
  color: #A43796;
  font-size: 0.3rem;
  margin-top: 0.2rem;
}

.server-detail-box.dz .dz-detail-container .dz-img-box {
  font-size: 0;
  margin-top: 0.4rem;
}

.server-detail-box.dz .dz-detail-container .dz-img-box img {
  display: inline-block;
  width: 4.9rem;
  height: 2.76rem;
}

.server-detail-box.dz .dz-detail-container .dz-img-box img.dz-img-1 {
  margin-right: 0.26rem;
}

.server-detail-box.dz .dz-detail-container .min-info {
  text-align: center;
  margin-top: 0.2rem;
  padding-bottom: 0.4rem;
  font-size: 0.192rem;
  color: #A43796;
  line-height: 0.48rem;
}

.server-detail-box.dz .dz-detail-container .min-info.zl {
  margin-top: 0.4rem;
}

.yys {
  background-color: #ffffff;
}

.yys .yys-detail-container {
  padding-bottom: 0.6rem;
}

.yys .yys-detail-container .yys-title {
  width: 3.66rem;
  height: 0.42rem;
  background: url("../images/yy-title.png") 0 0 no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.yys .yys-detail-container .item-container {
  width: 9.12rem;
  margin: 0 auto;
  padding-left: 2.12rem;
  box-sizing: border-box;
  padding-top: 0.99rem;
}

.yys .yys-detail-container .item-container.pt {
  padding-top: 0.7rem;
}

.yys .yys-detail-container .item-container.item-container-pr {
  padding-top: 0.7rem;
  padding-right: 2.12rem;
  padding-left: 0;
}

.yys .yys-detail-container .item-container.item-container-pr .yys-item-box2 {
  color: #9D5F51;
  border: 0.02rem solid #E68D7A;
  padding: 0.38rem 1.32rem 0.64rem 0.52rem;
}

.yys .yys-detail-container .item-container.item-container-pr .yys-item-box2 .span.yys-item-title {
  color: #9D5F51;
}

.yys .yys-detail-container .item-container.item-container-pr .yys-item-box2 .yys-itme-img-2 {
  position: absolute;
  right: -2.12rem;
  top: -0.3rem;
  width: 3rem;
  height: 1.9rem;
}

.yys .yys-detail-container .yys-item-box {
  width: 7rem;
  height: 1.9rem;
  border: 0.02rem solid #fac4c7;
  position: relative;
  line-height: 0.56rem;
  font-size: 0.24rem;
  color: #8C6365;
  padding: 0.38rem 0.8rem 0.64rem 1.43rem;
  box-sizing: border-box;
}

.yys .yys-detail-container .yys-item-box.yys-item-box3 {
  height: auto;
  border: 0.02rem solid #F2CACC;
  color: #947677;
  padding: 0.27rem 0.31rem 0.24rem 1.13rem;
  box-sizing: border-box;
}

.yys .yys-detail-container .yys-item-box.yys-item-box3 span.yys-item-title {
  color: #947677;
}

.yys .yys-detail-container .yys-item-box.yys-item-box5 {
  height: auto;
  border: 0.02rem solid #E6DAC6;
  color: #867D6F;
  padding: 0.47rem 0.8rem 0.4rem 1.13rem;
  box-sizing: border-box;
}

.yys .yys-detail-container .yys-item-box.yys-item-box5 span.yys-item-title {
  color: #867D6F;
}

.yys .yys-detail-container .yys-item-box.yys-item-box4 {
  height: auto;
  border: 0.02rem solid #B1DDE9;
  color: #769AA4;
  padding: 0.37rem 1.03rem 0.28rem 0.52rem;
}

.yys .yys-detail-container .yys-item-box.yys-item-box4 span.yys-item-title {
  color: #769AA4;
}

.yys .yys-detail-container .yys-item-box.yys-item-box4 .yys-itme-img-4 {
  position: absolute;
  right: -2.12rem;
  top: -0.3rem;
  width: 3rem;
  height: 1.9rem;
}

.yys .yys-detail-container .yys-item-box span.yys-item-title {
  font-size: 0.28rem;
  color: #8C6365;
}

.yys .yys-detail-container .yys-item-box .yys-itme-img-1 {
  position: absolute;
  left: -2.12rem;
  top: -0.3rem;
  width: 3rem;
  height: 1.9rem;
}

.yys-server-img-detail {
  text-align: center;
  background-color: #F6EBF4;
  padding-bottom: 0.5rem;
}

.yys-server-img-detail .title {
  font-size: 0.3rem;
  color: #333;
  padding: 0.49rem 0 0.46rem 0;
}

.yys-server-img-detail img {
  max-width: 9.88rem;
  margin: 0 auto;
}

.yys-answer-box {
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 0.38rem;
}

.yys-answer-box .title {
  font-size: 0.3rem;
  color: #333;
  padding: 0.49rem 0 0.4rem 0;
}

.yys-answer-box img {
  max-width: 9.46rem;
  margin: 0 auto;
}

.server-crs-box {
  background-color: #F6EBF4;
}

.server-crs-box p.title {
  text-align: center;
  font-size: 0.3rem;
  color: #333;
  padding: 0.47rem 0 0.48rem 0;
}

.server-crs-box .crs-info-box {
  max-width: 10.06rem;
  font-size: 0.22rem;
  color: #555555;
  margin: 0 auto;
}

.server-crs-box .crs-info-box .money-info {
  text-align: left;
  font-size: 0.3rem;
  color: #A43796;
  padding-top: 0.15rem;
  padding-bottom: 0.2rem;
}

.server-crs-box .crs-info-box .img-box {
  font-size: 0;
}

.server-crs-box .crs-info-box .img-box img {
  display: inline-block;
  width: 4.9rem;
  height: 2.76rem;
  object-fit: cover;
}

.server-crs-box .crs-info-box .img-box img.crs-img-1 {
  margin-right: 0.26rem;
}

.server-crs-box .crs-info-box .crs-sologan {
  text-align: center;
  font-size: 0.2rem;
  color: #A43796;
  padding: 0.5rem 0 0.6rem 0;
}

.crs-detail-box {
  background-color: #ffffff;
  text-align: center;
  padding-top: 0.49rem;
}

.crs-detail-box .title {
  font-size: 0.3rem;
  color: #333333;
  line-height: 0.5rem;
  padding-bottom: 0.38rem;
}

.crs-detail-box .title span {
  font-size: 0.26rem;
  color: #A43796;
}

.crs-detail-box .crs-item-box {
  margin: 0 auto;
  max-width: 10.06rem;
  text-align: center;
  box-shadow: 0px 0.04rem 0.2rem 0px #e7e7e7;
  border-radius: 0.04rem;
  margin-bottom: 0.3rem;
}

.crs-detail-box .crs-item-box p.crs-item-title {
  line-height: 0.6rem;
  font-size: 0.28rem;
  color: #ffffff;
  background-color: #D569C8;
  border-radius: 0.04rem 0.04rem 0 0;
}

.crs-detail-box .crs-item-box p.crs-item-title.five {
  background-color: #8A2A7E;
}

.crs-detail-box .crs-item-box p.crs-item-title.four {
  background-color: #A43796;
}

.crs-detail-box .crs-item-box p.crs-item-title.three {
  background-color: #AC499F;
}

.crs-detail-box .crs-item-box p.crs-item-title.two {
  background-color: #C562B8;
}

.crs-detail-box .crs-item-box .info-box {
  font-size: 0;
  padding: 0.3rem 0.4rem 0.34rem 0.21rem;
}

.crs-detail-box .crs-item-box .img-box, .crs-detail-box .crs-item-box .crs-info {
  display: inline-block;
}

.crs-detail-box .crs-item-box .img-box {
  width: 2.5rem;
  margin-right: 0.28rem;
}

.crs-detail-box .crs-item-box .img-box img {
  display: block;
}

.crs-detail-box .crs-item-box .img-box img.s-img {
  width: 100%;
  height: 1.74rem;
  object-fit: cover;
  margin-bottom: 0.2rem;
}

.crs-detail-box .crs-item-box .img-box img.s-img.t-s-img {
  height: 1.8rem;
}

.crs-detail-box .crs-item-box .img-box img.s-img.m-s-img {
  height: 2.3rem;
}

.crs-detail-box .crs-item-box .img-box img.s-img.f-s-img {
  height: 1.56rem;
}

.crs-detail-box .crs-item-box .img-box img.h-img {
  width: 100%;
  height: 3.1rem;
  object-fit: cover;
}

.crs-detail-box .crs-item-box .img-box img.h-img.t-h-img {
  height: 2.27rem;
}

.crs-detail-box .crs-item-box .img-box img.h-img.f-h-img {
  height: 1.7rem;
}

.crs-detail-box .crs-item-box .crs-info {
  font-size: 0.22rem;
  line-height: 0.38rem;
  color: #333333;
  width: 6.62rem;
  text-align: left;
  vertical-align: top;
}

.crs-detail-box .crs-item-box .crs-info .min-title {
  font-size: 0.26rem;
  color: #A43796;
  line-height: 0.34rem;
  padding-bottom: 0.1rem;
}
